note, to, from, heading, body {
    display: block;
    color: blue;
}

note {
    border: 1px dotted orange;
    width: 300px;
    padding: 10px 15px;
}

to, from {
    font-style: italic;
}

heading {
    font-size: 18px;
    text-decoration: underline;
    color: black;
}

body {
    font-size: 14px;
    color: black;
}

from:before {
    content: 'From: ';
}

to:before {
    content: 'To: ';
}

